Click==7.0
et-xmlfile==1.0.1
Flask==1.1.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.17.4
openpyxl==3.0.2
pandas==0.25.3
pikepdf==1.8.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
Werkzeug==0.16.0
xlrd==1.2.0
XlsxWriter==1.2.6
